@charset "utf-8";
/* CSS Document */

#button1{
    width: 200px;
    height: 100px;
    border-radius: 15px;
    color:black;
    background-color:#00aa88;
    font-size: large;
}
#button1:hover{
    background-color: #00a8e0;
}

button1:active {
    background-color: #00a8e0;
    transform: translateY(4px);
}

#second_section{
    margin-top: -32%;
    margin-left: 50%;
}