@charset "utf-8";
/* CSS Document */

body
{
    margin:0;
    padding:0;
    background:url("../images/12.jpg");
	margin-bottom:200px;
}

#main
{
    width:980px;
    height:2000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:21px;
    margin-bottom:21px;
    background-color:#CCC;
    border-radius:2%;
    opacity:1;
}

#header
{
    margin-top:40px;
    height: 750px;
    margin-bottom:-470px;
}

#panel-heading
{
	background-color:#000
	
}

#menu
{
	height: 20px;
	margin-top:-70px;
	background-color:#000;
	font-style:normal;
	font-size:12px;
	color:#FFF;
	
}
#h2
{
	font-style:normal;
	font-size:5px;
	color:#FFF;
}

#top
{
    height:500px;
	margin-top:-50px;
    margin-left: 5%;
    margin-right: 5%;
	color:#000;
	
	padding:80px;
	
}

#top-left{
	width:500px;
	height:500px;
	float:left;
	}

#button1{
    border-radius:8px;
    width:120px;
    height:50px;
    color:#FFFFFF;
    background-color:#006;
}

button1:active {
    background-color: #000000;
    transform: translateY(4px);
}
	
#top-right{
	height:500px;
	width:150px;
	
	float:right;
	}
	
#button{
	border-radius:8px;
	width:120px;
	height:50px;
	color:#FFFFFF;
	background-color:#006;
}



button:active {
    background-color: #000000;
    transform: translateY(4px);
}

#content
{
    height:600px;
}

#footer
{
    height:100px;
}

#mnu
{
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

img
{
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    height:40%;
    width:100%;
}

#md
{
    position: fixed;
    margin-top: 0%;
    width: 100%;
}
