@charset "utf-8";
/* CSS Document */

#btn-lg btn-block{
	margin-left:50%;
 	margin-top:50%;
	width:50px;
	height:35px;
	color:#FFFFFF;
	background-color: #1caf9a;
}


btn-lg btn-block:active {
    background-color:cadetblue;
    transform: translateY(4px);
}

