@charset "utf-8";
/* CSS Document */


#main1
{
	font-weight:bold;
	background-color:white;
	margin:2% 1% 1% 1%;
	width:95%;
	height:100%;
	border-radius:100%;
	padding-bottom:150%;
}
#kl{
margin-right:0%;
width:95%;
height:20%;
}

li {
    display:inline;
    float: left;

}
ul {
    list-style-type: none;
    
   
}
.active {
    background-color:red;
	
	
	
}
.mySlides {
	display:none;
	}


li a {
    width:150px;
	height:60px;
	text-align: center;
	
	
}



