@charset "utf-8";
/* CSS Document */



ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

ul.topnav li {float: left;}
#jk{
margin-top:5%;
margin-right:20%;
}
ul.topnav li a {
	
	display: arial;
	color: black;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size:20px;
	border-radius:15%
}

ul.topnav li a:hover:not(.active) {background-color: blue;}

ul.topnav li a.active {background-color: red;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
	ul.topnav li.right,
	ul.topnav li {float: none;}
}

#kl{
margin-top:2%;
}
#klm{
margin-top:-1%;
}

li {
    display:inline;
    float: left;

}
ul {
    list-style-type: none;
    
   
}

.mySlides {
	display:none;
	}


li a {
    width:150px;
	height:60px;
	text-align: center;
	
	
}



