@charset "utf-8";
/* CSS Document */


#main1
{
	font-weight:bold;
	background-color:white;
<<<<<<< HEAD
	margin:2% 1% 1% 1%;
	width:95%;
	height:100%;
	border-radius:100%;
	padding-bottom:150%;
}
#kl{
margin-right:0%;
width:95%;
height:20%;
=======
	width:100%;
	height:100%;
>>>>>>> origin/master
}

li {
    display:inline;
    float: left;

<<<<<<< HEAD
}
ul {
    list-style-type: none;
    
   
}
.active {
    background-color:red;
	
	
	
}
.mySlides {
	display:none;
	}
=======
li {
    display:inline;
    float: left;
>>>>>>> origin/master

}
ul {
    list-style-type: none;
    
   
}
.active {
    background-color:red;
	
	
	
}
.mySlides {
	display:none;
	}

<<<<<<< HEAD
=======

>>>>>>> origin/master
li a {
    width:150px;
	height:60px;
	text-align: center;
	
	
}



