@charset "utf-8";
/* CSS Document */

body
{
    margin:0;
    padding:0;
	background-image: url("../images/88.jpg");
}

#main
{
	background:
			linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000 0),
			linear-gradient(150deg,  	#000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000 0),
			linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000 0),
			linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000 0),
			linear-gradient(60deg,  #000000 25%, transparent 25.5%, transparent 75%, #000000 75%, #000000 0),
			linear-gradient(60deg, #dbdbdb 25%, transparent 25.5%, transparent 75%,  #000000 75%,  #000000 0), #008B8B;

    width:980px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:21px;
    margin-bottom:21px;
    /*background-color: 	#696969;*/
    border-radius:2%;
    opacity:1;
}

#header
{
	margin-top:40px;
    height: 750px;
    margin-bottom:-450px;
}

#top_section
{
    height:500px;
	
    margin-left: 5%;
    margin-right: 5%;
	color:#000;
	
	padding:80px;
	
}

#top_left_driver{
	width:600px;
	height:550px;
	background-color: #a6a6a6;
	border-radius:15px;
	float:left;
	border-style: outset;


	}
#drivertb{
	margin-left: 10%;
}
#bottomdriver{
	width: 600px;
	height: 550px;
	background-color: #a6a6a6 ;
	border-radius:5%;
	margin-top:8%;
	margin-left:13%;
}
	
#top_right_section{

	height:400px;
	width:260px;
	background-color: #000000;
	border-style: outset;
	margin-top: 7%;
	margin-left:97%;
	border-radius:15px;

	}
#button1{
	position: absolute;
	margin-left: 5%;
	margin-top: 5%;
}
	


#content{
	height: 600px;
	}



#footer
{
    height:100px;
}

#mnu
{
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

img
{
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    height:40%;
    width:100%;
}

#md
{
    position: fixed;
    margin-top: 0%;
    width: 100%;
}

#menu_bar_effect{
	font-weight:bold;
	font-size:16px;
	}
	
#table_font{
	font-size:14px;
	color: #000000;
	}

	
#table_image{
	
	opacity:80%;
	}
#below_section{
	padding:80px;
	margin-left: 5%;
    margin-right: 5%;
	}

#below_table{
	
	width:650px;
	
	}
	
.panel-body{
	background-color:#CCC;
	}
	
.panel-heading {
  background-color:#333;
  color:#FFF;
  font-size:18px;
  
}

.newreport_date_and_reportID_section{
	
	height:70px;
	
	}
	
	
.previous_report_history_table{
	height:300px;
	background-color:#F00;
	}
.previous_report_stock_report{
	height:600px;
	background-color:#00F;
	}
	
#button_effect {
	background:  	#FF4500;
	background-image: -webkit-linear-gradient(top,  	#FF4500,  	 	#FF4500);
	background-image: -moz-linear-gradient(top,  	#FF4500,  	 	#FF4500);
	background-image: -ms-linear-gradient(top,  	#FF4500,  	 	#FF4500);
	background-image: -o-linear-gradient(top,  	#FF4500,  	 	#FF4500);
	background-image: linear-gradient(to bottom,  	#FF4500,  	 	#FF4500);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	text-shadow: 1px 1px 3px #666666;
	-webkit-box-shadow: 0px 3px 6px #666666;
	-moz-box-shadow: 0px 3px 6px #666666;
	box-shadow: 0px 3px 6px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	padding: 3px 40px 2px 40px;
	border: solid #ff4400 0px;
	text-decoration: none;

}
#button_effect:hover {
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #ff6f00);
	background-image: -moz-linear-gradient(top, #ffffff, #ff6f00);
	background-image: -ms-linear-gradient(top, #ffffff, #ff6f00);
	background-image: -o-linear-gradient(top, #ffffff, #ff6f00);
	background-image: linear-gradient(to bottom, #ffffff, #ff6f00);
	text-decoration: none;
}
#button_effect:hover {
	background-color:#0c1e33;
>>>>>>> origin/master
}
#button_effect:active {
	position:relative;
	top:1px;
}

#change_username_form{
	height:400px;
	background-color:#F00;
	}
	
#change_username_button_section{
	
	
	}
       




ul.dropdown-menu{
	padding:0;
	}




#drop_down_list_effect{

	background-color:#000000;

	}
#drop_down_list_effect a{
	color: #FFFFFF;
}
#drop_down_list_effect a:hover{
	background-color:#ff4400;
}
.manage_delivery_table{
	height:400px;
	background-color:#00C;
	}
	
.manage_delivery_form{
	height:450px;
	background-color:#CCC;
	margin-left: 10%;
    margin-right: 10%;
	color:#000;
	
	padding:10px;
	}
	
.manage_delivery_middle_part{
	height:100px;
	
	}
	
.manage_delivery_button_section{
	height:100px;
	background-color:#CCC;
	margin-left:400px;
	
	}
	
#change_username_form{
	height:300px;
	background-color:#CCC;
	margin-left:40px;
	margin-right:10px;
	padding:50px;
	}
	
#change_username_button_section{
	height:75px;
	background-color:#CCC;
	margin-left:400px;
	
	}
#changepwd{
	background-color: #808080;
	width: 500px;
	height:450px;
	margin-left: 20%;
	margin-top: 15%;
	border-style: outset;
	border-radius: 15px;

}
#pwd_button_panel{
	position: absolute;
	margin-top:4%;
	margin-left:4%;
}
#pwd_button_sec{
	background-color: #000000;
	height:200px;
	width:260px;
	background-color: #000000;
	border-style: outset;
	margin-top: -35%;
	margin-left:80%;
	border-radius:15px;
}
#pwdtb{
margin-left: 10%;

}
#topdelivery{
	background-color:  #a6a6a6;
	width: 600px;
	height: 400px;
	border-radius: 5%;
	margin-left: 20%;
	margin-top:0;
}
#bottomdelivery{
	background-color: #a6a6a6;
	width: 600px;
	height: 500px;
	border-radius: 15px;
	margin-left:20%;
	margin-top: 10%;
	border-style: outset;
}
#deliverytb{
	position: absolute;
	margin-left: 4%;
	margin-top: 2%;
	width:500px;
	height: 400px;
}
#delivery_cap{
	font-size: 18px;
	color: #000000;
	text-align: center;
	border-bottom:outset;

}
#toprent{
	background-color: #a6a6a6;
	width: 600px;
	height: 500px;
	border-radius: 15px;
	margin-left:10%;
	margin-top: 10%;
}
#rent_button_panel{
	position: absolute;
	margin-top:4%;
	margin-left:4%;
}
#rent_button_sec {
	background-color: #000000;
	height: 200px;
	width: 260px;
	background-color: #000000;
	border-style: outset;
	margin-top: -35%;
	margin-left: 80%;
	border-radius: 15px;
}
