@charset "utf-8";
/* CSS Document */

body
{
    margin:0;
    padding:0;
    background:url("../images/1.jpg");
}

#main
{
    width:980px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:21px;
    margin-bottom:21px;
    background-color: #f9f9f9;
    border-radius:2%;
    opacity:1;
}

#header
{
    height:auto;
    margin-bottom:5px;
}

#menu
{
    height:60px;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
}

#content
{
    height:600px;
}

#footer
{
    height:100px;
}

#mnu
{
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

img
{
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    height:40%;
    width:100%;
}

#md
{
    position: fixed;
    margin-top: 0%;
    width: 100%;
}

#info
{
    margin-left: 17%;
}


.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.myButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background-color:#599bb3;
    border-radius:12px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:9px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
    background-color:#408c99;
}
.myButton:active {
    position:relative;
    top:1px;
}



@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}