.centre{
    color:beige;
    margin-top: 15%;
    margin-left: 32%;
    width: 420px;
    height: 360px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-color:green;
    background-color: white;
}
#joblist{
    margin-top:4%;
    margin-left:13%;
    width: 300px;
    height: 300px;
    position: relative;
    
}
#joblist td{
    color: black;
}



.panel-heading{
    background-color:#333;
  color:#FFF;
  font-size:18px;
}
  .btn{
    color: white;
    background-color: #1caf9a;
}