.centre{
    color:beige;
    margin-top: 8%;
    margin-left: 10%;
    width: 80%;
    height: 30%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-color:green;
    background-color: white;
}
#joblist{
    margin-top:3%;
    margin-left:10%;
    width: 80%;
    height: 300px;
    position: relative;
    
}
#joblist td{
    color: black;
}



.panel-heading{
    background-color:#333;
  color:#FFF;
  font-size:18px;
}
  .btn{
    color: white;
    background-color: #1caf9a;
    width: 200px;
}