@charset "utf-8";
/* CSS Document */
#add
{
    margin-left: 25%;
    width: 50%;
}

#button
{
    margin-top: 8%;
}

#delete_btn{
	margin-left: 350px;
}
#btn
{
    margin-left: 32%;
    margin-top: -34%;
}

#btn1
{
    margin-left: 32%;
    margin-top: 0%;
}
#nav_tab_item_effect{
	background-color:#22262e;
	font-size:14px;
	}
#nav_tab_item_effect a:active{
    background-color:orangered;
}

#nav_tab_item_effect a:hover{
    background-color: orangered;
    
}
#nav_tab_item_effect a{
    color: white;
}
	
.panel{
margin-top: -2%;
height: 79%;
	
	}

#table_font{
	font-size:14px;
	font-style:normal;
	color : black;
	}

.below_panel_add_item{
	margin-top: 400px;
	height:100px;
	margin-left: 750px;
	background-color:white;
	}
.upper_panel_add_item{
	height:400px;

	}
	
tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.myButton {
    margin-top:0%;
    margin-left:30%;
    background:#1caf9a; 
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:14px;
	padding:5px;
	text-decoration:none;
    width:120px;

	
}
.myButton:hover {
	background-color:cadetblue;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButtonsearch{
     margin-top:0%;
    margin-left:-4%;
    background:#1caf9a; 
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:14px;
	padding:5px;
	text-decoration:none;
    width:125px;
}

#btnManageStockAddToExisting{
    background-color:#1caf9a; 
}
    
#btnManageStockAddNew{
    background-color:#1caf9a;  
}


#below_panel_search_item{
	
	height:500px;
	
	}

#upper_panel_search_item{
	height:200px;

	}
        
.upper_panel_delete_item{
	height: 100px;
	
	
	
	}

.middle_panel_delete_item{
	margin-top: -2%;
    margin-left: 38%;
}

.below_panel_delete_item{
	height: 200px;
	margin-left: 80px;
	
	}
.upper_panel_search_item{
	height: 100px;
	
	
	}

.middle_panel_search_item{
	
	height: 100px;
}

.below_panel_search_item{
	height: 200px;
	
	
	}
.delete_dropdown_effects{
	width: 230px;


	

}

/*
.dropdown_container{
	width: 100px;

}*/


.add_dropdown_effects{
	width : 220px;
}

#scrh
{
    margin-left: 850px;
    margin-top: -95px;
}

.upper_panel_manage_stock{
	margin-top: 100px;
}