@charset "utf-8";
/* CSS Document */
#add
{
    margin-left: 25%;
    width: 50%;
}

#button
{
    margin-top: 8%;
}

#btn
{
    margin-left: 35%;
    margin-top: -5%;
}

#nav_tab_item_effect{
	background-color:black;
	font-size:14px;
	}
#nav_tab_item_effect a:hover{
    background-color: orangered;
    
}
#nav_tab_item_effect a{
    color: white;
}


	
.panel_body_add_item{
	
	
	}
	
#table_font{
	font-size:14px;
	font-style:normal;
	color : black;
	}

.below_panel_add_item{
	margin-top: 400px;
	height:100px;
	margin-left: 750px;
	background-color:white;
	}
.upper_panel_add_item{
	height:400px;

	}
	
tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.myButton {
	
	background-color:#1caf9a;
	border-radius: 8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
}
.myButton:hover {
	background-color:darkcyan;
}

#below_panel_search_item{
	
	height:300px;
	
	}

#upper_panel_search_item{
	height:200px;

	}
        
.upper_panel_delete_item{
	height: 100px;
	
	
	
	}

.middle_panel_delete_item{
	height: 100px;
}
}

.below_panel_delete_item{
	height: 200px;
	margin-left: 80px;
	
	}
.upper_panel_search_item{
	height: 100px;
	
	
	}

.middle_panel_search_item{
	
	height: 100px;
}

.below_panel_search_item{
	height: 200px;
	
	
	}
.delete_dropdown_effects{
	width: 230px;


	

}

/*
.dropdown_container{
	width: 100px;

}*/


.add_dropdown_effects{
	width : 220px;
}

#scrh
{
    margin-left: 90%;
    margin-top: -12%
}