@import url('http://fonts.googleapis.com/css?family=Lato');

body, html{
  height: 100%;
  background: #222222;
	font-family: 'Lato', sans-serif;
}

/*.container{
  display: block;
  position: absolute;
  margin: auto;
  height: 200px;
  width: 200px;
  bottom: 0; left:0; right: 0; top:0;
  padding: 0;
}*/

/*
.container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}*/

.upper_panel_new_report{
	height: 300px;
	

}

#drop_down{
	height: 100px;	

	/*background-color: red;*/
}

#button_effect{
	margin-top: 50px;
	/*background-color: black;*/
}

#btnNewReportGenerateReport {
  background-color:#050505;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #242424;
  display:inline-block;
  cursor:pointer;
  color:#f02400;
  font-family:Arial;
  font-size:15px;
  padding:5px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #121411;
}
#btnNewReportGenerateReport:hover {
  background-color:#424142;
}
#btnNewReportGenerateReport:active {
  position:relative;
  top:1px;
}



.drop_down_ul li{
  color: #424142;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
	/*border-bottom: 1px solid #111111;*/
}

.drop_down_ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.drop_down_ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 10px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.drop_down_ul li:hover label{
	color: #282424;
}

.drop_down_ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #424142;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.drop_down_ul li:hover .check {
  border: 5px solid #282424;
}

.drop_down_ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid #ED1B16;
}

input[type=radio]:checked ~ .check::before{
  background: #ED1B16;
}

input[type=radio]:checked ~ label{
  color: #ED1B16;
}

/*.signature {
	position: fixed;
	margin: auto;
	bottom: 0;
	top: auto;
	width: 100%;
}

.signature p{
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.85em;
	color: #AAAAAA;
}

.signature .much-heart{
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #AC1D3F;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}*/

/*.signature .much-heart::before, 
.signature .much-heart::after {
	  display: block;
  content: '';
  position: absolute;
  margin: auto;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #AC1D3F;
  top: -4px;
}

.signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.signature a {
	color: #AAAAAA;
	text-decoration: none;
	font-weight: bold;
}
*/