#deliverytb{
    margin-left:10%;
    width: 700px;
    height: 500px;
    position: relative;
        
}
#bottom-delivery{
    width:850px;
    margin-left:8%;
    margin-top:5%;
    border-style:solid;
    border-width: 1px;
    border-color:#4682B4;
    
    
}
.panel-heading{
    background-color:#4682B4;
  color:#FFF;
  font-size:18px;
}
#table_font{
    color: black;
}