@charset "utf-8";
/* CSS Document */
#section1{
	background-color:#333333;
	}
.our-icon{
	color:#ffb300;
	font-size:3em;
	
	}
	
.my-title1{
	color:#f2f2f2;
	font-size:1.2em;
	
	
	}

.my-title2{
	color:#f2f2f2;
	font-size:1.2em;
	}
	
.yellow-bg{
	background-color:#ffb300;
	padding:0.8em;
	
	
	}

.my-title3{
	color:#f2f2f2;
	font-size:1.2em;
	}